.feature {
  padding-top: 3rem;
  background-color: $color-primary-light;
  height: 130vh;
  overflow: hidden;

  &__heading {
    color: #130d0d;
    text-align: center;
    margin: 0 24rem;
  }
  &__col {
    @include flex;
    margin-top: 3rem;

    &-one {
      width: 40vw;
      position: relative;
      transform: translateX(-5rem);
    }
    &-two {
      transform: translate(-2rem, 19rem);
      width: 35vw;
    }
    &-one-2 {
      width: 40vw;
      transform: translate(-7rem, 19rem);
    }
    &-two-2 {
      position: relative;
      width: 40vw;
      transform: translateX(4rem);
    }
  }

  &__img {
    background-size: cover;
    width: 70%;
    position: absolute;

    &--1 {
      width: 100%;
    }
    &--2 {
      width: 95%;
      top: 1rem;
      left: 0.9rem;
    }
    &--3 {
      transform: translateX(3rem);
    }
    &--4 {
      content: '';

      width: 90%;
      margin-top: 42rem;
      z-index: -1;
      transform: scale(0.6);
      box-shadow: 0px 0px 9px 1px #130d0d;
    }
  }
  &__content {
    padding: 5em;
    text-transform: capitalize;
  }
  &__mdtext {
    color: blue;
  }
  &__smtext {
    transform: translateY(1rem);
  }
}
