.header {
  overflow: hidden;
  height: 90.9rem;
  left: 0rem;
  top: -0.2rem;
  background: $bg-color-primary;
  @include flex;

  &__first-col {
    width: 60rem;
    margin: 0rem 4rem 0rem 6.9rem;
  }
  &__text {
    width: 51.6rem;
    height: 24rem;
    left: 10rem;
    top: 27.7rem;
    font-family: 'Airbnb Cereal App';
    font-style: normal;
    font-weight: 700;
    font-size: 5.6rem;
    line-height: 108%;
    letter-spacing: -0.1rem;
    color: $color-dark;

    span {
      color: $color-primary-dark;
    }
  }
  &__paragraph {
    width: 50.9rem;
    height: 6.4rem;
    left: 10rem;
    top: 53.4rem;
    font-family: 'Airbnb Cereal App';
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 128%;
    letter-spacing: -0.0611804rem;
    color: $color-primary-text;
  }
  &__download {
    width: 160px;
    height: 46px;
    margin-right: 2rem;
    background-size: cover;
    margin-top: 3rem;
  }

  &__second-col {
    width: 55rem;
    margin: 0rem 0rem 0rem 15rem;
    position: relative;
    transform: translate(-5rem, -20rem);
  }
  &__background {
    width: 63.604rem;
    height: 59.927rem;
    // left: 0rem;
    // top: 0rem;
    position: absolute;
  }
}
