.navbar {
  @include flex;
  background: $bg-color-primary;
  height: 11.3rem;

  &__logo {
    margin: 4rem 29rem 4rem 0rem;
  }

  &__items {
    @include flex;
    transform: translateX(-23rem);
  }

  &__list {
    transform: translateX(-25rem);
    @include flex;
    text-transform: capitalize;
    gap: 1.5rem;
    list-style: none;
  }

  &__link {
    font-family: 'Airbnb Cereal App';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: -0.5px;
    color: #656589;
    text-decoration: none;

    &:active {
      color: $color-primary;
      text-decoration: none;
    }

    &:hover {
      border-bottom: 2px solid $color-primary;
      cursor: pointer;
    }
  }
  &__link--active {
    color: $color-primary;
    text-decoration: none;
  }
}
