.navbar {
  @include flex;
  margin-top: 2rem;
  margin-right: 30rem;

  &__items {
    @include flex;
  }

  &__list {
    @include flex;
    text-transform: capitalize;
    gap: 1.5rem;
    list-style: none;
  }

  &__link {
    color: $color-primary-text;
    text-decoration: none;

    &:hover {
      border-bottom: 2px solid $color-primary;
      cursor: pointer;
    }
  }
  &__link--active {
    color: $color-primary;
  }
}
