$color-primary: #003ff0;
$bg-color-primary: #f8f8f8;
$color-primary-dark: #3167ff;
$color-light: #fff;
$color-dark: rgba(0, 0, 0, 0.75);
$color-primary-text: #656589;
$color-primary-grey: #c8c8c8;
$color-primary-green: #1ee4d9;
$color-primary-blue: #1d4ed8;
