.logo {
  @include flex;
  margin-right: 20rem;
  width: 3rem;
  height: 3rem;
  border-radius: 1.2rem;

  &-img {
    background: linear-gradient(180deg, #1d4ed8 0%, #1ee4d9 100%);
    opacity: 0.7;
    filter: blur(0.1px);
    border-radius: 41.4357px;
    width: 3rem;
    height: 3rem;
    padding: 0.4rem;
    margin-right: 0.5rem;
    align-items: center;
  }
  &__img--footer {
    background: linear-gradient(180deg, #1d4ed8 0%, #1ee4d9 100%);
    opacity: 0.7;
    filter: blur(0.1px);
    border-radius: 41.4357px;
    width: 3.5rem;
    height: 4rem;
    padding: 0.6rem;
    margin-right: 0.5rem;
    align-items: center;
  }
}
